@use '@/styles/variables' as vars;

.userInfo {
  margin: 0;
  margin-right: 130px;
  max-width: 630px;
  font-size: 16px;
  line-height: 23px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .contactLink {
    display: flex;
    align-items: center;

    &:hover {
      color: vars.$bgColorHighLight;
    }

    span {
      margin-right: 8px;
    }
  }
}

@media (max-width: 1020px) {
  .userInfo {
    margin-right: 30px;
  }
}

@media (max-width: 680px) {
  .userInfo {
    margin-right: 0;
  }
}
