@use './variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: vars.$bgColorMain;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: vars.$textColorBlack;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: 'Roboto', sans-serif;
}
